skjema/eresept/ER-M5-2013-04-16-extension-1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2021 (x64) (http://www.altova.com) by Norsk Helsenett SF (Norsk Helsenett SF (FACTOR)) --><!-- eResept versjon 2.5TilbakekallingUtvidelse extension/12022-06-16--><xs:schema xmlns:m5ext="http://www.kith.no/xmlstds/eresept/m5/2013-04-16/extension/1"           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"           xmlns:kith="http://www.kith.no/xmlstds"           targetNamespace="http://www.kith.no/xmlstds/eresept/m5/2013-04-16/extension/1" elementFormDefault="qualified"           attributeFormDefault="unqualified" vc:minVersion="1.1">    <xs:import namespace="http://www.kith.no/xmlstds" schemaLocation="../felleskomponenter/kith.xsd"/>    <xs:element name="TilbakekallingUtvidelse">        <xs:complexType>            <xs:sequence>                <xs:element ref="m5ext:Seponering"/>                <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>            </xs:sequence>            <xs:attribute name="version" type="xs:string"/>        </xs:complexType>    </xs:element>    <xs:element name="Seponering">        <xs:complexType>            <xs:sequence>                <xs:element name="Tidspunkt" type="xs:dateTime"/>                <xs:element name="Arsak" type="kith:CV"/>                <xs:element name="Merknad" type="xs:string" minOccurs="0"/>                <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>            </xs:sequence>        </xs:complexType>    </xs:element></xs:schema>